.my-orders-wrp {
  padding: 10px 0 0 24px;
  font-family: $font-roboto-reg;
  color: $color-text-orders;
}

.my-orders-list-wrp {
  width: 1107px;
  padding: 24px 14px;
  position: relative;
  box-shadow: $block-shadow;
  border-radius: $border-radius;
  box-sizing: border-box;
}

.my-orders-list {
  @extend %disp-flex;
  align-items: center;
}

.my-orders-status {
  position: absolute;
  width: 10px;
  height: 46px;
  left: 16px;
  background-color: $color-main;
  border-radius: 34px;
}

.my-orders-status-node {
  position: absolute;
  width: 10px;
  height: 46px;
  left: 16px;
  background-color: $color-border-grey;
  border-radius: 34px;
}

.my-orders-status-expected {
  position: absolute;
  width: 10px;
  height: 46px;
  left: 16px;
  background-color: $color-status-expected;
  border-radius: 34px;
}

.my-orders-heading {
  padding-left: 26px;
  @extend %position-orders-inf;
}

.my-orders-wrp > h1 {
  margin-bottom: 24px;
}

.orders-info {
  @extend %text-size-my-orders;
}

.orders-info-n {
  // padding-left: 26px;
  margin-bottom: 8px;
}

.order-status-text {
  font-weight: 600;
}

.order-info-img-wrp {
  padding-right: 43px;
  @extend %disp-flex;
  margin-left: auto;
}

.arrow-my-orders-icon {
  position: absolute;
  right: 15px;
  transform: rotate(0deg);
  cursor: pointer;
  transition: 0.6s;
}

.menu-cab-line-orders {
  border-bottom: $border-grey;
  margin-bottom: 9px;
}

.order-img-product {
  max-width: 76px;
  width: 100%;
  height: 76px;
}

// .order-wrp-name-ing > .order-img-product {
//   margin-right: 12px;
// }

.ord-price-wrp-text {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.orders-drop-down-list {
  max-height: 0;
  display: flex;
  transition: 0.6s;
  overflow: hidden;
  overflow-y: auto;
}

.ord-list-pr-over-wrp > div > p {
  margin-bottom: 29px;
  color: $color-text-grey;
}

.orders-drop-down-inf {
  @extend %position-orders-inf;
  flex-direction: column;
}

.orders-drop-down-inf > h2,
.orders-drop-down-inf > h3,
.orders-drop-down-inf > p {
  margin-bottom: 24px;
  letter-spacing: normal;
}

.orders-drop-down-inf > p {
  font-size: 16px;
}

.orders-drop-down-inf > h2 {
  color: $color-main;
  font-size: 20px;
}

.orders-drop-down-inf > h3 {
  color: $color-text-grey;
  font-size: 16px;
}

.ord-pr-inf-wp {
  @extend %disp-flex;
  justify-content: space-between;
  align-items: center;
}

.ord-putchase-returns {
  margin-bottom: 24px;
  border: 1px solid $color-red-btm;
  color: $color-red-btm;
  @extend %btm-ord-without-back;
}

.btm-ord-warranty-card {
  border: 1px solid $color-main;
  color: $color-main;
  @extend %btm-ord-without-back;
}

.ord-name-product-wrp {
  max-width: 210px;
  width: 100%;
  padding-left: 12px;
}

.ord-name-product-pr {
  position: relative;
  color: $color-text-orders;
  @extend %text-centr;
}

.ord-name-product-pr > h4 {
  margin-bottom: 12px;
  font-size: 12px;
  color: $color-text-orders;
  font-weight: 400;
}

.ord-name-product-pr > p {
  font-size: 16px;
  font-weight: 600;
}

.ord-opening-win-inf {
  width: 100%;
}

.ord-quantity-product-pr {
  @extend %text-centr;
}

div .sale-pr-ord {
  position: absolute;
  font-size: 12px;
  color: $color-text-grey;
  position: absolute;
  font-weight: 400;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  text-decoration: line-through;
}

div .ord-name-product-sale {
  color: $color-red-btm;
}

.ord-inf-main-wrp {
  padding-top: 33px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.ord-inf-main-pay {
  text-align: right;
}

.ord-inf-main-wrp > div > p,
.ord-inf-main-pay > div > p {
  margin-bottom: 20px;
  font-size: 16px;
}

.ord-inf-main-wrp > div > p.ord-inf-pr-pay-b {
  font-size: 20px;
  font-weight: 600;
}

.ord-inf-main-btm {
  display: flex;
}

.ord-inf-main-btm > .ord-putchase-returns {
  margin-bottom: 0;
}

.ord-inf-repeat-btm {
  margin-right: 0;
  margin-left: auto;
  @include btn-inp-form;
}

.ord-inf-repeat-btm:hover {
  background-color: $color-main-hov;
}

.order-row-wrp {
  display: flex;
}

.my-orders-icon-mob-wrp {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.my-orders-icon-mob-wrp > img {
  margin-right: 22px;
  display: none;
}

.order-wrp-name-ing {
  display: flex;
  align-items: center;
}
//мобильная версия

@media (max-width: 1427px) {
  .my-orders-list-wrp {
    width: 1000px;
  }
  .my-orders-heading {
    max-width: 420px;
  }
}

@media (max-width: 1327px) {
  .my-orders-list-wrp {
    width: 950px;
  }
  .my-orders-heading {
    max-width: 375px;
  }
}

@media (max-width: 1285px) {
  .my-orders-list-wrp {
    width: 900px;
  }
  .my-orders-heading {
    max-width: 315px;
  }
}

@media (max-width: 1220px) {
  .menu-orders-wrp {
    // display: none;
  }
  .my-orders-wrp {
    // padding: 0;
  }
  .my-orders-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .order-info-img-wrp {
    margin-left: 0;
  }
  .order-info-img-wrp {
    padding-left: 26px;
  }
  .orders-info {
    padding-left: 26px;
  }
  .my-orders-heading {
    padding-left: 0;
  }
  .my-orders-list-wrp {
    width: 344px;
  }
  .my-orders-status {
    height: 160px;
  }
  .my-orders-status-expected {
    height: 160px;
  }
  .my-orders-status-node {
    height: 160px;
  }
  .orders-drop-down-list {
    flex-direction: column;
  }
  .btm-ord-warranty-card {
    margin-bottom: 24px;
  }
  .my-orders-wrp > .my-orders-icon-mob-wrp > h1 {
    font-size: 16px;
  }
  .ord-pr-inf-wp {
    flex-direction: column;
  }
  .ord-inf-main-btm {
    margin-bottom: 20px;
    display: block;
    text-align: center;
  }
  .ord-inf-repeat-btm {
    margin-left: auto;
    margin-right: auto;
  }
  .my-orders-icon-mob-wrp > img {
    display: block;
  }
  .ord-inf-main-btm > .ord-putchase-returns {
    margin-bottom: 16px;
  }
  .ord-inf-repeat-btm {
    width: 203px;
  }
}

@media (max-width: 671px) {
  .my-orders-wrp {
    padding: 10px 15px;
  }
  .menu-orders-wrp {
    display: none;
  }
}
